html {
    height: 100%;
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#__next {
    height: 100%;
}

hi, h2, h3, h4, h5 {
    margin: 0px 0px 0.5em;
}

* {
  box-sizing: border-box;
}

#blockchain-button-js {
    position: relative;
    font-family: Inter, sans-serif;
    width: 110px;
  }

  .native-label {
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    padding: 6px 16px;
    white-space: nowrap
  }

  .native-sponsor {
    position: absolute;
    top: -6px;
    left: 5px;
    padding: 2px 4px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 400;
    font-size: 6px;
    text-decoration: none;

    align-items: center;
  }

  .native-sponsor img {
    margin-right: 4px;
    height: 16px;
    filter: grayscale(1);
  }

  .native-overlay {
    position: absolute;
    right: 0;
    z-index: 100;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    width: 260px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, .05);
    opacity: 0;
    transition: transform .2s ease-in-out,
      opacity .1s ease-in-out;
    transform: scale(1) translateY(50px);
  }

  #native-button:checked + .native-overlay {
    opacity: 1;
    transition: transform .2s ease-in-out,
      opacity .4s ease-in-out;
    transform: scale(1) translateY(0);
  }

  #native-button {
    display: none;
  }

  .native-title {
    display: flex;
    margin-bottom: 4px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;

    align-items: center;
  }

  .native-img {
    box-sizing: content-box;
    margin-right: 8px;
    padding: 6px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    box-shadow: inset 0 0 1px hsla(0, 0%, 0%, .35);
  }

  .native-description {
    text-align: left;
    font-size: 12px;
    line-height: 1.4;
  }

  .iVToig{height:2.75rem;width:2.75rem;}/*!sc*/
data-styled.g1[id="q9ublo-0"]{content:"iVToig,"}/*!sc*/
.gzXgjX{fill:#00aee6;}/*!sc*/
data-styled.g2[id="q9ublo-1"]{content:"gzXgjX,"}/*!sc*/
.hVvUpA{fill:#123962;}/*!sc*/
data-styled.g3[id="q9ublo-2"]{content:"hVvUpA,"}/*!sc*/
.eMKaWN{fill:#b1d4e5;}/*!sc*/
data-styled.g4[id="q9ublo-3"]{content:"eMKaWN,"}/*!sc*/
.fHiDJu{fill:#b1d4e5;}/*!sc*/
data-styled.g5[id="q9ublo-4"]{content:"fHiDJu,"}/*!sc*/
.cywKqH{fill:#2754ba;}/*!sc*/
data-styled.g6[id="q9ublo-5"]{content:"cywKqH,"}/*!sc*/
.dTVywk{fill:#799eb2;}/*!sc*/
data-styled.g7[id="q9ublo-6"]{content:"dTVywk,"}/*!sc*/
.hBuUBe{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:2.5rem;line-height:2.5rem;width:100%;padding:0 1rem;box-sizing:border-box;color:#FFF;background-color:#0C6CF2;border:none;border-radius:0.255rem;cursor:not-allowed;outline:none;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;opacity:0.5;font-family:Inter;font-size:1rem;font-weight:600;}/*!sc*/
.hBuUBe:hover{background-color:#0C6CF2;-webkit-transform:none;-ms-transform:none;transform:none;}/*!sc*/
.grHLaL{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:2.5rem;line-height:2.5rem;width:100%;padding:0 1rem;box-sizing:border-box;color:#FFF;background-color:#0C6CF2;border:none;border-radius:0.255rem;cursor:pointer;outline:none;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;opacity:1;font-family:Inter;font-size:1rem;font-weight:600;}/*!sc*/
.grHLaL:hover{background-color:#144699;-webkit-transform:scale(0.95);-ms-transform:scale(0.95);transform:scale(0.95);}/*!sc*/
.ePVwcm{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:2.5rem;line-height:2.5rem;width:100%;padding:0 1rem;box-sizing:border-box;color:#FFF;background-color:#0C6CF2;border:none;border-radius:0.255rem;cursor:pointer;outline:none;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;opacity:1;font-family:Inter;font-size:1rem;font-weight:600;}/*!sc*/
.ePVwcm:hover{background-color:#144699;-webkit-transform:none;-ms-transform:none;transform:none;}/*!sc*/
data-styled.g9[id="sc-1t2k7dn-0"]{content:"hBuUBe,grHLaL,ePVwcm,"}/*!sc*/
.JYWXm{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;height:auto;margin:0 auto;}/*!sc*/
@media (min-width:75rem){.JYWXm{width:75rem;}}/*!sc*/
data-styled.g11[id="p5q4id-0"]{content:"JYWXm,"}/*!sc*/
.ifwODj{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:auto;width:100%;min-width:100%;box-shadow:0 0 1.5rem 0.4rem rgba(5,24,61,0.1);background-color:#FFF;}/*!sc*/
data-styled.g12[id="sc-1cqdrwy-0"]{content:"ifwODj,"}/*!sc*/
.bvrqDT{fill:#98A1B2;cursor:pointer;}/*!sc*/
.bvrqDT:hover{fill:#677185;}/*!sc*/
.ckZiXe{cursor:pointer;}/*!sc*/
data-styled.g14[id="sc-1pmbxjh-0"]{content:"bvrqDT,ckZiXe,"}/*!sc*/
.cOtLOb{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:100%;position:relative;}/*!sc*/
data-styled.g22[id="sc-1c3roxu-0"]{content:"cOtLOb,"}/*!sc*/
.gOKCqV{display:block;height:2.7rem;width:100%;padding:0 1rem;box-sizing:border-box;font-family:Inter;font-size:1rem;color:#353F52;border-width:1px;border-color:#DFE3EB;border-style:solid;border-radius:0.255rem;background-color:#FFF;background-image:none;outline-width:0;-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text;-webkit-transition:box-shadow 0.25s ease-out;transition:box-shadow 0.25s ease-out;}/*!sc*/
.gOKCqV:disabled{color:#353F52;border-color:#DFE3EB;background:#F0F2F7;cursor:not-allowed;}/*!sc*/
.gOKCqV:active:not(:disabled),.gOKCqV:focus:not(:disabled){box-shadow:0 0 0 1px #619FF7;}/*!sc*/
.gOKCqV::-webkit-input-placeholder{color:#98A1B2;font-size:0.875rem;}/*!sc*/
.gOKCqV::-moz-placeholder{color:#98A1B2;font-size:0.875rem;}/*!sc*/
.gOKCqV:-ms-input-placeholder{color:#98A1B2;font-size:0.875rem;}/*!sc*/
.gOKCqV::placeholder{color:#98A1B2;font-size:0.875rem;}/*!sc*/
data-styled.g23[id="sc-1c3roxu-1"]{content:"gOKCqV,"}/*!sc*/
.gzrtQD{font-family:Inter;font-weight:500;font-size:14px;text-transform:none;font-style:normal;color:#353F52;opacity:1;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
.gzrtQD:hover{color:#144699;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
.feNwnU{font-family:Inter;font-weight:400;font-size:1rem;text-transform:none;font-style:normal;color:#353F52;opacity:1;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
.feNwnU:hover{color:#144699;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
.cXDUvg{font-family:Inter;font-weight:600;font-size:1.4rem;text-transform:none;font-style:normal;color:#353F52;opacity:1;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
.cXDUvg:hover{color:#144699;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
.egfVqh{font-family:Inter;font-weight:400;font-size:42px;text-transform:none;font-style:normal;color:#353F52;opacity:1;cursor:pointer;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
.egfVqh:hover{color:#144699;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
data-styled.g30[id="sc-1r996ns-0"]{content:"gzrtQD,feNwnU,cXDUvg,egfVqh,"}/*!sc*/
.fXomVN{font-family:Inter;font-weight:600;font-size:1rem;text-transform:none;font-style:normal;color:#353F52;opacity:1;}/*!sc*/
.flPGuv{font-family:Inter;font-weight:500;font-size:0.875rem;text-transform:none;font-style:normal;color:#353F52;opacity:1;}/*!sc*/
.iNfUoD{font-family:Inter;font-weight:600;font-size:14px;text-transform:none;font-style:normal;color:#353F52;opacity:1;}/*!sc*/
.Pxgkb{font-family:Inter;font-weight:600;font-size:1.4rem;text-transform:none;font-style:normal;color:#353F52;opacity:1;}/*!sc*/
.gCzMgE{font-family:Inter;font-weight:500;font-size:14px;text-transform:none;font-style:normal;color:#353F52;opacity:1;}/*!sc*/
.hEGroi{font-family:Inter;font-weight:600;font-size:2rem;text-transform:none;font-style:normal;color:#353F52;opacity:1;}/*!sc*/
.gmhhNV{font-family:Inter;font-weight:500;font-size:1.5rem;text-transform:none;font-style:normal;color:#353F52;opacity:1;}/*!sc*/
.cMIqJb{font-family:Inter;font-weight:500;font-size:0.75rem;text-transform:none;font-style:normal;color:#353F52;opacity:1;}/*!sc*/
data-styled.g93[id="sc-1ryi78w-0"]{content:"fXomVN,flPGuv,iNfUoD,Pxgkb,gCzMgE,hEGroi,gmhhNV,cMIqJb,"}/*!sc*/
.gCbavo{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:42px;width:42px;border-radius:50%;background-color:#DFE3EB;-webkit-transition:all 0.5s;transition:all 0.5s;}/*!sc*/
.gCbavo:hover{background-color:#144699;}/*!sc*/
data-styled.g95[id="sc-1chygni-0"]{content:"gCbavo,"}/*!sc*/
.eHDLVj{fill:#FFF;max-height:60%;max-width:60%;}/*!sc*/
.eHDLVj:hover{fill:#FFF;}/*!sc*/
data-styled.g96[id="sc-1chygni-1"]{content:"eHDLVj,"}/*!sc*/
.jNwNBA{fill:#FFF;max-height:60%;max-width:60%;}/*!sc*/
.jNwNBA:hover{fill:#FFF;}/*!sc*/
data-styled.g97[id="sc-1chygni-2"]{content:"jNwNBA,"}/*!sc*/
.iGczCN{fill:#FFF;max-height:60%;max-width:60%;}/*!sc*/
.iGczCN:hover{fill:#FFF;}/*!sc*/
data-styled.g98[id="sc-1chygni-3"]{content:"iGczCN,"}/*!sc*/
.gcloxF{display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#FFF;background-color:#0C6CF2;font-family:Inter;font-size:0.625rem;font-weight:700;word-wrap:normal;text-transform:uppercase;padding:0.25rem;margin-left:0.75rem;border-radius:2px;}/*!sc*/
data-styled.g99[id="sc-1rs1xpb-0"]{content:"gcloxF,"}/*!sc*/
.iWcTsp{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;height:100%;width:150px;box-sizing:border-box;}/*!sc*/
.iWcTsp::after{content:'';position:absolute;right:1rem;bottom:1.15rem;width:0;height:0;border-left:0.4rem solid transparent;border-right:0.4rem solid transparent;border-top:0.4rem solid #353F52;pointer-events:none;}/*!sc*/
data-styled.g100[id="pe4dcp-0"]{content:"iWcTsp,"}/*!sc*/
.cqtWqR{width:100%;height:2.7rem;padding:0 2.4rem 0 1rem;color:#353F52;background-color:#FFF;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-family:Inter;font-weight:500;font-size:1rem;font-style:normal;border-width:1px;border-color:#DFE3EB;border-style:solid;border-radius:0.255rem;cursor:pointer;outline:none;text-overflow:ellipsis;white-space:nowrap;-webkit-transition:box-shadow 0.25s ease-out;transition:box-shadow 0.25s ease-out;}/*!sc*/
.cqtWqR:disabled{color:#353F52;border-color:#DFE3EB;background:#F0F2F7;cursor:not-allowed;}/*!sc*/
.cqtWqR:required:invalid{color:#98A1B2;}/*!sc*/
.cqtWqR option[value=''][disabled]{display:none;}/*!sc*/
.cqtWqR option{color:#353F52;}/*!sc*/
.cqtWqR:active:not(:disabled),.cqtWqR:focus:not(:disabled){box-shadow:0 0 0 1px #619FF7;}/*!sc*/
data-styled.g101[id="pe4dcp-1"]{content:"cqtWqR,"}/*!sc*/
.hLbIPW{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;width:100%;padding:1.25rem 2rem;box-sizing:border-box;}/*!sc*/
@media (min-width:48rem){.hLbIPW{padding:1.25rem 3rem;}}/*!sc*/
data-styled.g122[id="sc-1j7n60b-0"]{content:"hLbIPW,"}/*!sc*/
.mrPar{color:#121D33;font-family:Inter;font-size:0.875rem;font-weight:600;text-transform:uppercase;margin-bottom:1rem;-webkit-letter-spacing:1px;-moz-letter-spacing:1px;-ms-letter-spacing:1px;letter-spacing:1px;}/*!sc*/
data-styled.g123[id="sc-1w711cn-0"]{content:"mrPar,"}/*!sc*/
.bcZljj{display:block;margin-bottom:1.25rem;line-height:1.4;overflow-wrap:break-word;}/*!sc*/
data-styled.g124[id="sc-1ra1xps-0"]{content:"bcZljj,"}/*!sc*/
.jRpbSx{-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;width:12rem;margin-bottom:4rem;margin-right:2rem;line-height:2.5rem;}/*!sc*/
@media (max-width:48rem){.jRpbSx{margin-bottom:4rem;}}/*!sc*/
data-styled.g125[id="upgsxa-0"]{content:"jRpbSx,"}/*!sc*/
.fXmotO{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;}/*!sc*/
.fXmotO > :last-child{margin-right:0;}/*!sc*/
@media (min-width:48rem){.fXmotO{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;width:100%;}}/*!sc*/
@media (min-width:62rem){.fXmotO{-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;}}/*!sc*/
data-styled.g127[id="sc-7do7mm-0"]{content:"fXmotO,"}/*!sc*/
.fyVcSb{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;height:4.5rem;padding:0 2rem;box-sizing:border-box;}/*!sc*/
@media (min-width:48rem){.fyVcSb{padding:0 3rem;}}/*!sc*/
data-styled.g132[id="sc-138n57e-0"]{content:"fyVcSb,"}/*!sc*/
.eKUUsc{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;z-index:1001;}/*!sc*/
data-styled.g133[id="djdrhs-0"]{content:"eKUUsc,"}/*!sc*/
.ejLhcJ{width:100%;}/*!sc*/
@media (min-width:48rem){.ejLhcJ{position:absolute;width:auto;margin:0.25rem 0;background-color:transparent;}}/*!sc*/
data-styled.g134[id="sc-94531c-0"]{content:"ejLhcJ,"}/*!sc*/
.hXATc{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}/*!sc*/
.hXATc > :last-child{margin-bottom:0 !important;}/*!sc*/
@media (max-width:48rem){.hXATc{padding:1.1rem 0;}}/*!sc*/
@media (min-width:48rem){.hXATc{margin-top:15px;padding:1.5rem;border-radius:0.25rem;box-sizing:border-box;background-color:#FFF;box-shadow:0 10px 60px -10px rgba(5,24,61,0.4), 0 8px 16px rgba(5,24,61,0.1);}.hXATc::after,.hXATc::before{bottom:100%;left:10%;border:solid transparent;content:' ';height:0;width:0;position:absolute;pointer-events:none;}.hXATc::after{border-color:transparent;border-bottom-color:#FFF;border-width:10px;margin-left:-10px;}.hXATc::before{border-color:transparent;border-bottom-color:#FFF;border-width:12px;margin-left:-12px;}}/*!sc*/
data-styled.g135[id="sc-94531c-1"]{content:"hXATc,"}/*!sc*/
.eWfFWi{font-family:Inter;font-size:1rem;font-weight:600;color:#FFF;cursor:pointer;display:none;}/*!sc*/
@media (min-width:48rem){.eWfFWi{display:block;}}/*!sc*/
data-styled.g136[id="sc-82znhw-0"]{content:"eWfFWi,"}/*!sc*/
.hOcZJ{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;height:2.5rem;margin-bottom:1.5rem;white-space:nowrap;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
@media (min-width:48rem){.hOcZJ:hover span:first-child{-webkit-text-decoration:underline;text-decoration:underline;}}/*!sc*/
data-styled.g137[id="sc-16ueb91-0"]{content:"hOcZJ,"}/*!sc*/
.htYvkI{color:#DFE3EB;}/*!sc*/
@media (min-width:48rem){.htYvkI{color:#98A1B2;}}/*!sc*/
data-styled.g138[id="za1pry-0"]{content:"htYvkI,"}/*!sc*/
.bNzZOr{color:#FFF;}/*!sc*/
@media (min-width:48rem){.bNzZOr{color:#144699;}}/*!sc*/
data-styled.g139[id="sc-11zjji7-0"]{content:"bNzZOr,"}/*!sc*/
.hCLA-Dm{margin-right:25px;}/*!sc*/
data-styled.g140[id="zqaa9z-0"]{content:"hCLA-Dm,"}/*!sc*/
.mRXfi{display:none;position:absolute;top:4.5rem;left:0;width:100%;height:calc(80vh - 4.5rem);}/*!sc*/
@media (min-width:48rem){.mRXfi{display:block;position:relative;top:0;width:calc(100% - 12rem);height:100%;}}/*!sc*/
data-styled.g141[id="gqyw4u-0"]{content:"mRXfi,"}/*!sc*/
.cGwJwT{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:100%;max-height:100%;padding:0 1.5rem 1.5rem 1.5rem;box-sizing:border-box;background:#121D33;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:1000;overflow-y:auto;}/*!sc*/
@media (min-width:48rem){.cGwJwT{position:relative;top:initial;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:auto;height:100%;padding:0;background:transparent;overflow-y:initial;}}/*!sc*/
data-styled.g142[id="gqyw4u-1"]{content:"cGwJwT,"}/*!sc*/
.bMMMXD{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;-webkit-order:2;-ms-flex-order:2;order:2;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:100%;margin:0;padding:0;box-sizing:border-box;list-style-type:none;}/*!sc*/
@media (max-width:48rem){.bMMMXD > li:first-child{border-top:none;}}/*!sc*/
@media (min-width:48rem){.bMMMXD{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-order:initial;-ms-flex-order:initial;order:initial;height:auto;width:18rem;}}/*!sc*/
.elBGGh{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;-webkit-order:1;-ms-flex-order:1;order:1;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:100%;margin:0;padding:0;box-sizing:border-box;list-style-type:none;}/*!sc*/
@media (max-width:48rem){.elBGGh > li:first-child{border-top:none;}}/*!sc*/
@media (min-width:48rem){.elBGGh{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-order:initial;-ms-flex-order:initial;order:initial;height:auto;width:calc(100% - 18rem);}}/*!sc*/
data-styled.g143[id="o2d61x-0"]{content:"bMMMXD,elBGGh,"}/*!sc*/
.krQpYe{position:relative;width:100%;padding:0.5rem 0;border-top:0.5px solid #98A1B2;box-sizing:border-box;}/*!sc*/
@media (min-width:48rem){.krQpYe{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:1;-ms-flex-negative:1;flex-shrink:1;-webkit-flex-basis:auto;-ms-flex-preferred-size:auto;flex-basis:auto;width:auto;padding:0.75rem 1rem;border-top:none;}.krQpYe > :last-child{display:none;}.krQpYe:hover > :last-child{display:block;}}/*!sc*/
data-styled.g144[id="sc-1tqimls-0"]{content:"krQpYe,"}/*!sc*/
.dcUQIW{position:relative;width:100%;padding:0.5rem 0;box-sizing:border-box;border-top:0.5px solid #98A1B2;}/*!sc*/
@media (min-width:48rem){.dcUQIW{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;-webkit-flex-shrink:1;-ms-flex-negative:1;flex-shrink:1;-webkit-flex-basis:auto;-ms-flex-preferred-size:auto;flex-basis:auto;width:auto;margin-right:1rem;padding:1rem;border-top:none;}}/*!sc*/
data-styled.g145[id="sc-61dg87-0"]{content:"dcUQIW,"}/*!sc*/
.etqTTl{fill:#FFF !important;}/*!sc*/
.etqTTl:hover{fill:#FFF !important;}/*!sc*/
@media (min-width:48rem){.etqTTl{display:none;}}/*!sc*/
data-styled.g147[id="sc-1til0ak-1"]{content:"etqTTl,"}/*!sc*/
.jukiHW{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:auto;height:auto;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;background:#85B5F8;overflow-x:auto;}/*!sc*/
data-styled.g148[id="sc-14m0lpu-0"]{content:"jukiHW,"}/*!sc*/
.kUAhZx{font-family:Inter;}/*!sc*/
data-styled.g151[id="sc-16b9dsl-1"]{content:"kUAhZx,"}/*!sc*/
.fGQJzg{color:#353F52;}/*!sc*/
data-styled.g153[id="u3ufsr-0"]{content:"fGQJzg,"}/*!sc*/
.lhmHll{color:#677185;}/*!sc*/
data-styled.g156[id="sc-1n72lkw-0"]{content:"lhmHll,"}/*!sc*/
.kZNiJv{color:#D93B30;}/*!sc*/
data-styled.g159[id="sc-1yunmav-0"]{content:"kZNiJv,"}/*!sc*/
.ihnXkn{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;}/*!sc*/
data-styled.g166[id="sc-7b1d11-0"]{content:"ihnXkn,"}/*!sc*/
.bfTya-d{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;}/*!sc*/
data-styled.g176[id="sc-5vnaz6-1"]{content:"bfTya-d,"}/*!sc*/
.fQRilI{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;width:100%;margin-bottom:1rem;}/*!sc*/
.fQRilI >:not(:last-child){padding-right:0;}/*!sc*/
.fQRilI >:not(:first-child){margin-top:0.5rem;}/*!sc*/
@media (min-width:48rem){.fQRilI{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;}.fQRilI >:not(:last-child){padding-right:1rem;}.fQRilI >:not(:first-child){margin-top:0;}}/*!sc*/
data-styled.g177[id="fieq4h-0"]{content:"fQRilI,"}/*!sc*/
.htfJhr{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;padding:1rem;}/*!sc*/
data-styled.g178[id="sc-1myx216-0"]{content:"htfJhr,"}/*!sc*/
.kXxRxe{font-family:Inter;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
data-styled.g190[id="sc-1tbyx6t-1"]{content:"kXxRxe,"}/*!sc*/
.gkqWVL{color:#50596B;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
.gkqWVL:hover{color:#121D33;-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
data-styled.g193[id="sc-1lcn7rh-0"]{content:"gkqWVL,"}/*!sc*/
.dgFuwX{color:#828B9E;}/*!sc*/
.dgFuwX:hover{color:#828B9E;-webkit-text-decoration:underline;text-decoration:underline;}/*!sc*/
data-styled.g194[id="sc-1x47y5h-0"]{content:"dgFuwX,"}/*!sc*/
.gWBilp{padding:0.25rem 0.4rem;border-radius:0.25rem;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;min-width:auto;height:23px;margin:0;margin-left:10px;font-size:12px;text-transform:uppercase;color:#0C6CF2;background:#BBDBFC;}/*!sc*/
data-styled.g197[id="s24bmm-0"]{content:"gWBilp,"}/*!sc*/
.fZLzIu{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;}/*!sc*/
.fZLzIu > *{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;margin-right:0.5rem;}/*!sc*/
@media (max-width:48rem){.fZLzIu > svg{width:20px;height:20px;}.fZLzIu > *:not(svg){font-size:14px;}}/*!sc*/
data-styled.g228[id="sc-1pqwxdu-0"]{content:"fZLzIu,"}/*!sc*/
.bjjdW{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;text-align:left;}/*!sc*/
.bjjdW > *{margin-bottom:1rem;}/*!sc*/
@media (min-width:62rem){.bjjdW{-webkit-align-items:flex-end;-webkit-box-align:flex-end;-ms-flex-align:flex-end;align-items:flex-end;text-align:right;}}/*!sc*/
data-styled.g246[id="sc-12x27yq-0"]{content:"bjjdW,"}/*!sc*/
.hhXYVg{opacity:0.4;clear:both;line-height:1.2rem;}/*!sc*/
data-styled.g247[id="sc-12x27yq-1"]{content:"hhXYVg,"}/*!sc*/
.kFCpSX{line-height:1.2rem;}/*!sc*/
data-styled.g248[id="sc-12x27yq-2"]{content:"kFCpSX,"}/*!sc*/
.pmCUq > select{font-family:Inter;font-size:14px;font-weight:500;background-color:transparent;border:none;padding:0 2.4rem 0 0;box-shadow:none !important;}/*!sc*/
.pmCUq::after{right:1rem;margin-left:5px;}/*!sc*/
data-styled.g249[id="rz68oc-0"]{content:"pmCUq,"}/*!sc*/
.bBWQJR{position:relative;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;height:2.5rem;}/*!sc*/
data-styled.g250[id="bt3qy2-0"]{content:"bBWQJR,"}/*!sc*/
.fVRQbL{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;height:100%;background:#FFF;border:1px solid #DFE3EB;box-sizing:border-box;border-radius:5px;cursor:pointer;}/*!sc*/
data-styled.g251[id="bt3qy2-1"]{content:"fVRQbL,"}/*!sc*/
.lefuQD{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;padding:0.5rem 1rem;box-sizing:border-box;}/*!sc*/
.lefuQD > span{white-space:nowrap;}/*!sc*/
.lefuQD >:last-child:not(:first-child){margin-left:0.5rem;}/*!sc*/
data-styled.g252[id="bt3qy2-2"]{content:"lefuQD,"}/*!sc*/
.kuSEVy{padding:0.5rem 1rem 0.5rem 0.25rem;box-sizing:border-box;}/*!sc*/
data-styled.g253[id="bt3qy2-3"]{content:"kuSEVy,"}/*!sc*/
.bCQrss{fill:#98A1B2;}/*!sc*/
.bCQrss:hover{fill:#677185;}/*!sc*/
data-styled.g254[id="bt3qy2-4"]{content:"bCQrss,"}/*!sc*/
.lanqSk{position:absolute;top:100%;right:0;display:none;min-width:13rem;border-radius:0 0 5px 5px;z-index:1000;}/*!sc*/
data-styled.g256[id="bt3qy2-6"]{content:"lanqSk,"}/*!sc*/
.bvXdTe{color:#677185;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:0.75rem 0 0.5rem 1rem;box-sizing:border-box;font-size:12px;font-weight:600;}/*!sc*/
data-styled.g257[id="bt3qy2-7"]{content:"bvXdTe,"}/*!sc*/
.hTqMhI{width:100%;border-bottom:2px solid #F0F2F7;}/*!sc*/
data-styled.g258[id="bt3qy2-8"]{content:"hTqMhI,"}/*!sc*/
.kjXOBW{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;padding:0.5rem 1rem;box-sizing:border-box;padding:0.75rem 1rem;box-sizing:border-box;cursor:pointer;}/*!sc*/
.kjXOBW > span{white-space:nowrap;}/*!sc*/
.kjXOBW >:last-child:not(:first-child){margin-left:0.5rem;}/*!sc*/
.kjXOBW:hover{background:#F0F2F7;}/*!sc*/
data-styled.g259[id="bt3qy2-9"]{content:"kjXOBW,"}/*!sc*/
.kpgPXE{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:160px;}/*!sc*/
@media (max-width:48rem){.kpgPXE{width:120px;}.kpgPXE > *{width:2rem;height:2rem;}}/*!sc*/
data-styled.g260[id="gc7vnv-0"]{content:"kpgPXE,"}/*!sc*/
.ddEnWS{padding:4rem 0;background:#F0F2F7;}/*!sc*/
data-styled.g261[id="sc-16etjrv-0"]{content:"ddEnWS,"}/*!sc*/
.ldAll{font-family:Inter;font-size:14px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:auto;background:#0C6CF2;color:#FFF;}/*!sc*/
.ldAll:hover{background:#3D89F5;}/*!sc*/
data-styled.g264[id="sc-1tqagmk-0"]{content:"ldAll,"}/*!sc*/
.cOcien{font-family:Inter;font-size:14px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:auto;background:#353F52;}/*!sc*/
.cOcien:hover{background:#828B9E;}/*!sc*/
data-styled.g265[id="pt7rw7-0"]{content:"cOcien,"}/*!sc*/
.hISvzr{font-family:Inter;font-size:14px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:auto;background:#FFF;color:#98A1B2;border:1px solid #CCD2DE;}/*!sc*/
.hISvzr:hover{background-color:#F0F2F7;}/*!sc*/
data-styled.g268[id="sc-17upzw8-0"]{content:"hISvzr,"}/*!sc*/
.ejmlQH{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;height:100%;}/*!sc*/
.ejmlQH >:first-child{margin-right:1rem;}/*!sc*/
@media (min-width:48rem){.ejmlQH{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;}}/*!sc*/
data-styled.g269[id="bnlu0c-0"]{content:"ejmlQH,"}/*!sc*/
.MNByB{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1000;-webkit-flex-grow:1000;-ms-flex-positive:1000;flex-grow:1000;-webkit-flex-basis:auto;-ms-flex-preferred-size:auto;flex-basis:auto;}/*!sc*/
data-styled.g270[id="qlpw18-0"]{content:"MNByB,"}/*!sc*/
.hhxErK{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;width:100%;height:auto;border-bottom-style:solid;border-bottom-width:0.125rem;border-bottom-color:transparent;box-sizing:border-box;}/*!sc*/
.hhxErK >:not(:last-child){margin-bottom:1rem;}/*!sc*/
@media (min-width:48rem){.hhxErK{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:3rem;}.hhxErK >:not(:last-child){margin-bottom:0;}}/*!sc*/
data-styled.g271[id="qlpw18-1"]{content:"hhxErK,"}/*!sc*/
.faAsOO{-webkit-flex:0 0 3rem;-ms-flex:0 0 3rem;flex:0 0 3rem;fill:#FFF;}/*!sc*/
.faAsOO:hover{fill:#FFF;}/*!sc*/
@media (max-width:48rem){.faAsOO{display:none;}}/*!sc*/
data-styled.g272[id="qlpw18-2"]{content:"faAsOO,"}/*!sc*/
.hnqeAh{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;height:auto;}/*!sc*/
.hnqeAh > *{margin-bottom:1rem;}/*!sc*/
@media (min-width:48rem){.hnqeAh{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.hnqeAh > *{margin-bottom:0;}}/*!sc*/
data-styled.g273[id="qlpw18-3"]{content:"hnqeAh,"}/*!sc*/
.fHfVHT{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;}/*!sc*/
.fHfVHT >:not(:last-child){margin-bottom:1rem;}/*!sc*/
@media (min-width:48rem){.fHfVHT{display:none;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.fHfVHT >:not(:last-child){margin-bottom:0;}}/*!sc*/
data-styled.g274[id="qlpw18-4"]{content:"fHfVHT,"}/*!sc*/
.igVleo{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;height:auto;}/*!sc*/
data-styled.g275[id="qlpw18-5"]{content:"igVleo,"}/*!sc*/
.fzOIQJ{width:100%;height:2.7rem;}/*!sc*/
.fzOIQJ > input{color:#000;background:#FFF;border:none;box-sizing:border-box;}/*!sc*/
.fzOIQJ > input:active:not(:disabled){box-shadow:none;}/*!sc*/
.fzOIQJ > input:focus:not(:disabled){box-shadow:none;}/*!sc*/
.fzOIQJ::-webkit-input-placeholder{color:#B1B8C7;font-family:Inter;font-size:1rem;font-weight:500;}/*!sc*/
.fzOIQJ::-moz-placeholder{color:#B1B8C7;font-family:Inter;font-size:1rem;font-weight:500;}/*!sc*/
.fzOIQJ:-ms-input-placeholder{color:#B1B8C7;font-family:Inter;font-size:1rem;font-weight:500;}/*!sc*/
.fzOIQJ::placeholder{color:#B1B8C7;font-family:Inter;font-size:1rem;font-weight:500;}/*!sc*/
@media (min-width:48rem){.fzOIQJ > input{color:#FFF;background:transparent;border:none;box-sizing:border-box;}.fzOIQJ > input:active:not(:disabled){box-shadow:none;}.fzOIQJ > input:focus:not(:disabled){box-shadow:none;}}/*!sc*/
data-styled.g276[id="qlpw18-6"]{content:"fzOIQJ,"}/*!sc*/
.iPjNFr{width:100%;height:2.7rem;}/*!sc*/
.iPjNFr >:first-child{width:100%;}/*!sc*/
@media (min-width:48rem){.iPjNFr{width:auto;}.iPjNFr >:first-child >:first-child{background:transparent;border:none;}.iPjNFr >:first-child >:first-child >:first-child > span{color:#FFF;}.iPjNFr >:first-child >:first-child >:last-child > svg{fill:#FFF;}}/*!sc*/
data-styled.g277[id="qlpw18-7"]{content:"iPjNFr,"}/*!sc*/
.gwcfue{width:100%;height:2.7rem;}/*!sc*/
.gwcfue > button{height:100%;}/*!sc*/
@media (min-width:48rem){.gwcfue{display:none;}}/*!sc*/
data-styled.g278[id="qlpw18-8"]{content:"gwcfue,"}/*!sc*/
.ceoeVd{display:none;-webkit-flex:0 0 2rem;-ms-flex:0 0 2rem;flex:0 0 2rem;fill:#FFF;}/*!sc*/
data-styled.g279[id="qlpw18-9"]{content:"ceoeVd,"}/*!sc*/
.hDbUtg{display:block;width:100%;}/*!sc*/
data-styled.g280[id="qlpw18-10"]{content:"hDbUtg,"}/*!sc*/
.cPgnWp{position:relative;display:block;width:100%;height:4.5rem;background:#121D33;}/*!sc*/
data-styled.g281[id="rwjjvp-0"]{content:"cPgnWp,"}/*!sc*/
.ezbumq{left:0;width:100%;background:#121D33;-webkit-transition:-webkit-transform 0.4s;-webkit-transition:transform 0.4s;transition:transform 0.4s;z-index:999;}/*!sc*/
@media (min-width:48rem){}/*!sc*/
data-styled.g282[id="rwjjvp-1"]{content:"ezbumq,"}/*!sc*/
.bPxqJl{height:16px;}/*!sc*/
@media (min-width:48rem){.bPxqJl{height:18px;}}/*!sc*/
data-styled.g283[id="cp6jre-0"]{content:"bPxqJl,"}/*!sc*/
.gKiYGs{position:absolute;left:-1000px;top:-1000px;opacity:0;height:0;width:0;}/*!sc*/
data-styled.g284[id="sc-1nwv67h-0"]{content:"gKiYGs,"}/*!sc*/
.lakYjX{position:relative;width:96px;height:16.5px;}/*!sc*/
data-styled.g296[id="k1ha5j-0"]{content:"lakYjX,"}/*!sc*/
.gPcxTW{position:absolute;top:0;width:16.5px;height:16.5px;border-radius:50%;background:#619FF7;-webkit-animation-timing-function:cubic-bezier(0,1,1,0);animation-timing-function:cubic-bezier(0,1,1,0);left:9px;-webkit-animation:hePhrH 0.6s infinite;animation:hePhrH 0.6s infinite;}/*!sc*/
data-styled.g298[id="k1ha5j-2"]{content:"gPcxTW,"}/*!sc*/
.kDXnGV{position:absolute;top:0;width:16.5px;height:16.5px;border-radius:50%;background:#619FF7;-webkit-animation-timing-function:cubic-bezier(0,1,1,0);animation-timing-function:cubic-bezier(0,1,1,0);left:9px;-webkit-animation:dioToL 0.6s infinite;animation:dioToL 0.6s infinite;}/*!sc*/
data-styled.g299[id="k1ha5j-3"]{content:"kDXnGV,"}/*!sc*/
.dDiFCl{position:absolute;top:0;width:16.5px;height:16.5px;border-radius:50%;background:#619FF7;-webkit-animation-timing-function:cubic-bezier(0,1,1,0);animation-timing-function:cubic-bezier(0,1,1,0);left:39px;-webkit-animation:dioToL 0.6s infinite;animation:dioToL 0.6s infinite;}/*!sc*/
data-styled.g300[id="k1ha5j-4"]{content:"dDiFCl,"}/*!sc*/
.erKwKI{position:absolute;top:0;width:16.5px;height:16.5px;border-radius:50%;background:#619FF7;-webkit-animation-timing-function:cubic-bezier(0,1,1,0);animation-timing-function:cubic-bezier(0,1,1,0);left:67.5px;-webkit-animation:kYGVfX 0.6s infinite;animation:kYGVfX 0.6s infinite;}/*!sc*/
data-styled.g301[id="k1ha5j-5"]{content:"erKwKI,"}/*!sc*/
.dblgNq{position:fixed;bottom:0;right:0;width:100%;height:30px;display:none;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;z-index:1000;}/*!sc*/
data-styled.g302[id="sc-1atjsls-0"]{content:"dblgNq,"}/*!sc*/
.eGXqKX{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:1rem;background:#FFF;border:1px solid #BBDBFC;}/*!sc*/
data-styled.g303[id="sc-1atjsls-1"]{content:"eGXqKX,"}/*!sc*/
.jmjvDz{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;height:40px;}/*!sc*/
data-styled.g311[id="sc-5q6wng-0"]{content:"jmjvDz,"}/*!sc*/
.hYnJDH{display:block;width:100%;height:40px;font-family:'Inter',Helvetica,sans-serif;font-size:14px;font-weight:500;overflow-x:hidden;overflow-y:hidden;padding:10px 15px;box-sizing:border-box;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;white-space:nowrap;text-overflow:ellipsis;word-break:normal;color:#98A1B2;background-color:#F0F2F7;}/*!sc*/
data-styled.g312[id="sc-5q6wng-1"]{content:"hYnJDH,"}/*!sc*/
.fxqrEM{width:160px;min-width:0;height:100%;border-radius:0;background-color:#0C6CF2;}/*!sc*/
.fxqrEM:hover{background-color:#1656B9;}/*!sc*/
data-styled.g313[id="sc-5q6wng-2"]{content:"fxqrEM,"}/*!sc*/
@-webkit-keyframes hePhrH{0%{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}}/*!sc*/
@keyframes hePhrH{0%{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}}/*!sc*/
data-styled.g343[id="sc-keyframes-hePhrH"]{content:"hePhrH,"}/*!sc*/
@-webkit-keyframes dioToL{0%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}100%{-webkit-transform:translate(28.5px,0);-ms-transform:translate(28.5px,0);transform:translate(28.5px,0);}}/*!sc*/
@keyframes dioToL{0%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}100%{-webkit-transform:translate(28.5px,0);-ms-transform:translate(28.5px,0);transform:translate(28.5px,0);}}/*!sc*/
data-styled.g344[id="sc-keyframes-dioToL"]{content:"dioToL,"}/*!sc*/
@-webkit-keyframes kYGVfX{0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}100%{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}}/*!sc*/
@keyframes kYGVfX{0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}100%{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}}/*!sc*/
data-styled.g345[id="sc-keyframes-kYGVfX"]{content:"kYGVfX,"}/*!sc*/
.jTsajN{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;padding:1rem 0;border-bottom:1px solid #DFE3EB;}/*!sc*/
data-styled.g590[id="sc-7ulzdo-0"]{content:"jTsajN,"}/*!sc*/
.bFxAWg{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;width:100%;}/*!sc*/
data-styled.g591[id="sok7o1-0"]{content:"bFxAWg,"}/*!sc*/
.cJcFXC{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;width:100%;}/*!sc*/
.cJcFXC > *{margin-bottom:1rem;}/*!sc*/
@media (min-width:48rem){.cJcFXC{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}.cJcFXC >:not(:last-child){margin-right:1rem;}}/*!sc*/
data-styled.g592[id="sok7o1-1"]{content:"cJcFXC,"}/*!sc*/
.mZXza{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;width:100%;}/*!sc*/
data-styled.g593[id="sok7o1-2"]{content:"mZXza,"}/*!sc*/
.bSKdkR{background:#F0F2F7;border:1px solid #CCD2DE;padding:3rem;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;}/*!sc*/
.bSKdkR >:not(:last-child){margin-bottom:1.5rem;}/*!sc*/
data-styled.g594[id="sok7o1-3"]{content:"bSKdkR,"}/*!sc*/
.kzyjtB{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;}/*!sc*/
.kzyjtB >:not(:last-child){margin-bottom:1rem;border-bottom:1px dashed #CCD2DE;}/*!sc*/
data-styled.g595[id="sok7o1-4"]{content:"kzyjtB,"}/*!sc*/
.itDqRh{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;padding:1rem;}/*!sc*/
.itDqRh >:not(:last-child){margin-bottom:1rem;}/*!sc*/
data-styled.g596[id="sok7o1-5"]{content:"itDqRh,"}/*!sc*/
.OAzkS{color:#EA5B50;}/*!sc*/
data-styled.g597[id="sok7o1-6"]{content:"OAzkS,"}/*!sc*/
.hduynb{color:#EA5B50;}/*!sc*/
data-styled.g598[id="sok7o1-7"]{content:"hduynb,"}/*!sc*/
.igaMiU > .qrcode{width:175px;height:175px;}/*!sc*/
data-styled.g599[id="sok7o1-8"]{content:"igaMiU,"}/*!sc*/
.lmJFBC{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;min-height:45px;padding:10px 5px;box-sizing:border-box;background-color:#F0C3C0;word-break:break-word;}/*!sc*/
data-styled.g600[id="sok7o1-9"]{content:"lmJFBC,"}/*!sc*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}